.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border-bottom: 2px solid #000;
    background-color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    font-size: 24px;
    height: 40px;
    width: auto;
    object-fit: contain;
}

.title {
    font-size: 22px;
    font-weight: 500;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.logout-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.logout-button:hover {
  background-color: rgb(234, 234, 234);
}